body {
    background: 
    linear-gradient(to right, #73168f, #5d791d),
    linear-gradient(to bottom, #ad2424, #130000);

    background-blend-mode: overlay;
}

.acmlogo img{
    width: 100px;
    float: right;
}

.headertext h1 {
    text-align: center;
    color:white;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.bottomtext h3 {
    text-align: center;
    color:white;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.poster img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer img {
    width: 60px;
    height: auto;
}

.footer-icon-container{
    display: flex;
    justify-content: center;
    gap: 80px; /* space between the icons */
    margin-top: 1%;
    margin-bottom: 3%;
}